/* Banner (desktop) */
.banner--small {
  height: 301px;
}
.banner_text {
  margin: 102px 0 0;
}

/* Intro (desktop) */
.intro {
  position: relative;
  background-color: #fff;
  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
  padding: 30px 345px 20px;
}
.intro--photo {
  padding-bottom: 38px;
}
.intro_title,
.intro_text {
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}
.intro_title {
  font-weight: 700;
  margin: 20px 0;
  font-size: 21px;      
  padding: 0 23px;      
  margin-top: 21px;     
}
.intro_title--large {
  margin-top: 82px;     
  margin-bottom: 30px;  
  font-size: 30px;      
  line-height: 26px;
}
.intro_text {
  margin: 27px 0 30px;  
  color: #333;
  font-size: 14px;
}
.intro_text--photo {
  margin-bottom: 33px;  
  padding: 0 33px;      
}

/* Gallery (desktop) */
.gallery {
  display: flex;
  flex-direction: row;  
  flex-wrap: wrap;      
  padding: 0;           
  width: 1200px;        
  margin: 0 auto;       
  font-size: 0;
  list-style: none;
  background-color: #fff; 
  font-weight: 400;       
}
.gallery_item {
  position: relative;
  padding: 0;
  margin: 0;
  width: 33.33%;         
  height: 267px;         
  color: #fff;           
  border: 0;
  overflow: hidden;      
  font-size: 14px;       
  line-height: 24px;     
  text-align: left;      
}
.gallery_item img {
  display: block;
  width: 100%;           
  height: 267px;         
}
.gallery_item--large {
  width: 100%;           
  min-height: 400px;     
}
.gallery_item--large img {
  width: 100%;           
  height: 400px;         
}

.gallery_item:nth-child(2n+3) .gallery_caption {
  background-color: rgba(0, 0, 0, .3);
}

.gallery_link {
  display: inline-block;   
  margin-bottom: -8px;     
}
.gallery_link:focus {
  border: .5px dashed #81b3d2; 
}

.gallery_caption {
  position: absolute;          
  bottom: 0; left: 0;          
  display: flex;               
  flex-direction: row;         
  justify-content: space-between; 
  box-sizing: border-box;      
  padding: 15px 10px 17px 21px;
  margin: 0;                   
  width: 100%;                 
  background-color: rgba(0,0,0,.3); 
  overflow: hidden;            
}

.gallery_title {
  margin: 0; padding: 0;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  overflow: hidden;            
  white-space: nowrap;         
  text-overflow: ellipsis;     
}
.gallery_author {
  margin: 0; padding: 0;
  overflow: hidden;            
  white-space: nowrap;         
  text-overflow: ellipsis;     
}

.gallery_like {
  position: relative;
  align-self: flex-start;  
  margin: 0;               
  padding: 8px 0 0 36px;   
  height: 35px;            
  min-width: 0;            
  font-size: 14px;         
  line-height: 24px;       
  font-weight: 700;        
  text-align: left;        
  border: 0; background: none; outline: 0;
  color: #fff;             
}
.gallery_like--four {  margin-right: 11px; }  
.gallery_like--three { margin-right: 19px; }  
.gallery_like--two {   margin-right: 27px; }  

.gallery_likeIcon {
  position: absolute;
  top: 7px; left: 3px;
  width: 23px; height: 21px;
  fill: #fff;              
  opacity: 1;              
}

/* Video (desktop) */
.video {
  box-sizing: border-box;  
  width: 1200px;           
  margin: 0 auto;          
  padding-top: 71px;       
  padding-bottom: 85px;    
  padding-left: 60px;
  padding-right: 60px;
  background-color: #fefefe; 
  font-size: 14px; line-height: 24px; font-weight: 400; 
  border: 0;
}
.video_title {
  margin: 0 0 30px 0;      
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;         
  line-height: 26px;       
}
.video_text {
  margin: 0;               
  text-align: center;
  text-transform: uppercase;
  padding: 0;              
  margin-left: 320px;
  margin-right: 320px;
}
.video_player {
  position: relative;      
  margin-top: 71px;        
  width: 800px;            
  height: 500px;           
  margin-left: auto;
  margin-right: auto;
  font-size: 0;            
}
.video_screen {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0; padding: 0;
}

