@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans.woff2) format("woff2"),
       url(../fonts/ptsans.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsansbold.woff2) format("woff2"),
       url(../fonts/ptsansbold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* a11y helper */
.visually-hidden {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans","Arial",sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000;
  background-color: #f2f2f2;
  box-sizing: border-box;
}

/* --- Layout shell --- */
.layout {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0,1,1,.2);
}

/* --- Header --- */
.header {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.header_logo {
  height: 0;
  position: relative;
}

.header_logoTop {
  position: absolute;
  top: -57px;
  left: 50%;
  margin-left: -94px;
  width: 187px;
  height: 96px;
  z-index: 100;
}

/* --- Nav --- */
.nav {
  min-height: 56px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #fff;
  background-color: #fff;
}

.nav_toggle {
  display: none;
  position: absolute;
  top: 7px;
  right: 7px;
  width: 50px;
  height: 40px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.nav--closed {
  min-height: 56px;
}

.nav--closed .nav_toggle::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 12px;
  width: 24px;
  height: 24px;
  background-image: url(../images/index/icon-menu.svg);
  background-repeat: no-repeat;
}

.nav_list {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}

.nav_item {
  width: 239px;
}

.nav_item:nth-child(2n+2) {
  margin-right: 243px;
}

.nav_item:nth-child(4) {
  margin-right: 0;
}

.nav_link {
  display: block;
  padding: 15px 16px 15px 19px;
  font-size: 14px;
  font-weight: 700;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  background-color: #fff;
  border: 0;
  cursor: pointer;
}

.nav_link[href]:hover {
  background-color: #fff;
  color: #81b3d2;
}

.nav_link[href]:active {
  background-color: #fff;
  color: #b2b2b2;
}

.nav_link--active {
  color: #766357;
}

.nav_link--active:hover {
  background-color: #fff;
  color: #604e43;
}

.nav_link--active:active {
  background-color: #fff;
  color: #d6d0cc;
}

/* --- Content shell --- */
.content {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

/* --- Banner --- */
.banner {
  position: relative;
  text-align: center;
  height: 518px;
  background-color: #396e98;
  background-image: url(../images/index/bg-intro-triangle-desktop.svg),
                    url(../images/index/bg-back-desktop@1x.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain, cover;
}

.banner_image {
  margin: 78px 0 0;
  width: 460px;
  height: 350px;
  background-color: transparent;
}

/* --- Intro --- */
.intro {
  position: relative;
  background-color: #fff;
  padding: 30px 345px 20px;
  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
}

.intro--decorated::after {
  display: none;
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -160px;
  bottom: -17px;
  width: 320px;
  height: 37px;
  background-image: url(../images/index/bg-triangle.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  z-index: 2;
}

.intro_title,
.intro_text {
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.intro_title {
  font-weight: 700;
  margin: 21px 0 0;
  font-size: 21px;
}

.intro_text {
  margin: 27px 0 30px;
  color: #333;
  font-size: 14px;
}

.intro_text br {
  display: inline;
}

/* --- Features --- */
.features {
  background-color: #eee;
  width: 1200px;
  margin: 0 auto;
}

.features_list {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
}

.features_list--cards,
.features_list--gray {
  list-style: none;
  padding: 0;
}

.features_item,
.features_item--city,
.features_list--cards,
.features_list--gray {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.features_item,
.features_item--city {
  margin: 0;
}

.features_item {
  width: 170px;
  min-height: 196px;
  overflow: hidden;
  box-sizing: border-box;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  padding: 0;
}

.features_item--city,
.features_item--bridge {
  flex-wrap: nowrap;
  width: 100%;
}

.features_item--city {
  background-color: #81b3d2;
  padding: 35px 860px 37px 60px;
  background-image: url(../images/index/main-city-desktop@1x.jpg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: right;
}

.features_item--bridge {
  background-color: #81b3d2;
  margin: 0;
  padding: 35px 60px 37px 860px;
  background-image: url(../images/index/main-bridge-desktop@1x.jpg);
  background-position: left;
  background-repeat: no-repeat;
}

.features_item--cards,
.features_item--gray {
  justify-content: space-around;
  align-items: stretch;
  padding: 0;
  margin: 0;
  width: 100%;
}

.features_item--cards {
  min-height: 330px;
  background-color: #fff;
}

.features_item--gray {
  min-height: 256px;
  background-color: #eee;
  color: #000;
}

.features_big--city,
.features_big--bridge {
  box-sizing: border-box;
  text-align: center;
  position: relative;
}

.features_big--bridge {
  order: 1;
}

.features_cityTitle {
  margin: 18px 0 0;
  padding: 0 55px;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.features_cityText {
  font-size: 14px;
  font-weight: 400;
  margin: 10px 0 20px 6px;
  padding-left: 2px;
  padding-right: 5px;
}

.features_bridgeTitle {
  margin: 18px 0 0 27px;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.features_bridgeTitle br {
  display: inline;
}

.features_bridgeText {
  font-size: 14px;
  font-weight: 400;
  margin: 10px 0 21px 29px;
  padding: 0 5px;
}

.features_bridgeText br,
.features_bridgeTitle br,
.featureCard_text--burger br,
.featureCard_text--gift br,
.featureGray_text--road br {
  display: inline;
}

/* --- Feature cards --- */
.featureCard {
  position: relative;
  box-sizing: border-box;
  padding: 145px 39px 85px 42px;
  height: 330px;
  width: 400px;
  background-color: #fff;
  color: #000;
  text-align: left;
}

.featureCard--house {
  order: 1;
}

.featureCard--burger {
  order: 2;
  margin-bottom: 0;
}

.featureCard--gift {
  order: 3;
}

.featureCard_title {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  margin-top: 14px;
  padding-left: 4px;
  padding-right: 5px;
  text-align: center;
}

.featureCard_title--house { margin-bottom: 13px;}
.featureCard_title--gift  { margin-bottom: 13px;}
.featureCard_title--burger{ margin-bottom: 13px;}

.featureCard_title--house::before,
.featureCard_title--gift::before,
.featureCard_title--burger::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
}

.featureCard_title--house::before {
  width: 75px;
  height: 72px;
  top: 61px;
  left: 161px;
  background-image: url(../images/index/icon-house.svg);
}

.featureCard_title--gift::before {
  width: 64px;
  height: 75px;
  top: 57px;
  left: 167px;
  background-image: url(../images/index/icon-gift.svg);
}

.featureCard_title--burger::before {
  width: 77px;
  height: 68px;
  top: 64px;
  left: 161px;
  background-image: url(../images/index/icon-burger.svg);
}

.featureCard_text {
  text-align: center;
  padding: 8px 20px 5px 15px;
  margin: 0;
  font-weight: 400;
  line-height: 21px;
}

/* --- Feature gray blocks --- */
.featureGray {
  box-sizing: border-box;
  position: relative;
  padding: 30px 58px 70px 57px;
  height: 256px;
  width: 400px;
}

.featureGray::after {
  display: none;
  content: "";
  position: absolute;
  top: 2px;
  left: 20px;
  width: 280px;
  border-top: 1px solid #d6d6d6;
}

.featureGray_title {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  margin: 15px 0 0;
  padding: 0 65px;
}

.featureGray_title--area,
.featureGray_title--road,
.featureGray_title--tourists {
  margin: 15px 0 0;
  padding: 0 65px;
}

.featureGray_text {
  margin-top: 10px;
  margin-bottom: 22px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.featureGray_text--area { padding: 0; margin-top: 10px; }
.featureGray_text--road,
.featureGray_text--tourists { padding: 0 3px; margin-top: 10px; }

/* --- Booking --- */
.booking {
  padding: 37px 60px 67px;
  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.booking_title {
  margin: 19px 0 0;
  padding-bottom: 10px;
  font-size: 30px;
  line-height: 26px;
}

.booking_text {
  margin-top: 20px;
  margin-bottom: 25px;
  padding: 0 315px 20px;
  font-size: 14px;
  line-height: 24px;
}

.booking_text br {
  display: inline;
}

.booking_btn {
  padding-left: 0;
  padding-right: 0;
  min-width: 458px;
}

.booking_btn:focus {
  outline: #5496bd auto 5px;
}

.btn {
    display: inline-block;
    padding: 17px 30px 15px;
    color: #fff;
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    white-space: normal;
    background-color: #81b3d2;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
    cursor: pointer;
    outline: 0;
}
/* --- Map --- */
.map {
  height: 350px;
  position: relative;
}

.map_frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 350px;
  border: 0;
  z-index: 2;
}

/* --- Footer --- */
.footer {
  width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 22px 120px;
  font-weight: 400;
  background-color: #fefefe;
  text-align: center;
}

.footer_tag {
  vertical-align: top;
  margin: 25px 0;
  padding: 0;
  text-align: left;
  font-size: 21px;
  line-height: 26px;
  width: 136px;
  text-transform: uppercase;
}

.footer_social {
  vertical-align: top;
  width: 156px;
  margin: 15px;
}

.footer_company {
  vertical-align: top;
  margin: 19px 0 0;
  text-align: right;
  position: relative;
  width: 139px;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}

.footer_companyLink {
  display: inline-block;
  position: relative;
  padding-top: 7px;
  padding-bottom: 10px;
  padding-right: 40px;
  color: #000;
  text-decoration: none;
}

.footer_companyIcon {
  position: absolute;
  top: 2px;
  right: -8px;
  width: 44px;
  height: 34px;
  cursor: pointer;
}

.footer_companyIcon:hover {
  filter: brightness(0) saturate(100%) invert(65%) sepia(36%) saturate(477%) hue-rotate(167deg) brightness(92%) contrast(87%);
}

.footer_companyIcon:active {
  filter: brightness(0) saturate(100%) invert(78%) sepia(7%) saturate(50%) hue-rotate(177deg) brightness(87%) contrast(86%);
}

/* --- Socials --- */
.socials {
  font-size: 0;
}

.socials_item {
  position: relative;
  display: inline-block;
  margin: 0 3px;
  width: 46px;
  height: 48px;
  font-size: 0;
  background-color: #81b3d2;
}

.socials_item:hover {
  background-color: #669ec0;
}

.socials_item:active {
  background-color: #5496bd;
}

.socials_icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
}
