/* БАЗА */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: system-ui, sans-serif;
    background: linear-gradient(135deg, #1e293b, #0f172a);

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    padding: 20px;
}

/* КОНТЕЙНЕР */
.app {
    width: 100%;
    max-width: 420px;
}

.card {
    background: #fff;
    padding: 20px;
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    height: 90vh;
}

/* ЗАГОЛОВОК */
h1 {
    margin: 0 0 15px;
    text-align: center;
    font-size: 18px;
}

/* INPUT */
.input-group {
    display: flex;
    gap: 8px;
}

input,
select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
}

input {
    flex: 1;
}

/* КНОПКИ */
button {
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

/* добавить */
#addBtn {
    background: #6366f1;
    color: white;
    padding: 0 14px;
}

/* очистить */
#clearCompleted {
    background: #ef4444;
    color: white;
    padding: 8px 12px;
}

/* действия */
.actions button {
    background: none;
}

/* ФИЛЬТРЫ */
.controls {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 12px;
}

/* СПИСОК */
ul {
    list-style: none;
    padding: 0;
    margin: 15px 0 0;

    flex: 1;
    overflow-y: auto;
}

/* ЗАДАЧА */
li {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px;
    margin-bottom: 8px;

    background: #f3f4f6;
    border-radius: 8px;
    border-left: 4px solid transparent;
}

/* состояния */
.completed span {
    text-decoration: line-through;
    color: #9ca3af;
}

/* приоритеты */
.low { border-left-color: #22c55e; }
.medium { border-left-color: #f59e0b; }
.high { border-left-color: #ef4444; }

/* FOOTER */
.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 20px;
}

/* DRAG */
.dragging {
    opacity: 0.5;
}